<div class="bg-violet-200 max-w-full h-auto">
  <div class="container py-12 px-6 h-full mx-auto">
    <div
      class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
    >
      <div class="xl:w-10/12">
        <div class="block bg-white shadow-lg rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0">
            <div class="lg:w-6/12 px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="/assets/img/logo.png"
                    alt="logo"
                  />
                  <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">
                    Xin Chào Quý Khách
                  </h4>
                </div>
                <form>
                  <p class="mb-4">Vui lòng đăng nhập</p>
                  <div class="mb-4">
                    <input
                      type="text"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="input1"
                      placeholder="Tài Khoản"
                    />
                  </div>
                  <div class="mb-4">
                    <input
                      type="password"
                      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      id="input1"
                      placeholder="Mật khẩu"
                    />
                  </div>
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button
                      class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out w-full mb-3"
                      type="button"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                      style="
                        background: linear-gradient(to right, #dd3675, #b44593);
                      "
                    >
                      Đăng nhập
                    </button>
                    <a class="text-gray-500" href="#!">Quên mật khẩu?</a>
                  </div>
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2">Bạn chưa có tài khoản?</p>
                    <button
                      type="button"
                      class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                      routerLink="/register"
                    >
                      Đăng ký
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #dd3675, #b44593)"
            >
              <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                <h4 class="text-xl font-semibold mb-6">
                  Chúng tôi là cửa hàng thuỷ sinh uy tín
                </h4>
                <p class="text-sm">
                  Với tiêu chí đặt chất lượng cửa hàng, sản phẩm của cửa hàng
                  chúng tôi lên hàng đầu. Quan tâm và chia sẽ những kinh nghiệm
                  về thuỷ sinh cho những người mới chơi hoặc gặp vấn đề trong
                  quá trình thiết kế một bể thuỷ sinh tuyệt đẹp tại nhà. Hãy đến
                  với chúng tôi để có một trải nghiệm mới và tốt nhất.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
