<hr class="max-w-full" />
<div class="my-10">
  <div class="text-center font-bold text-2xl">Blog Của Chúng Tôi</div>
  <div class="mx-auto text-center text-gray-500 max-w-[400px] mt-5 mb-20">
    Chúng tôi sẽ chia sẽ các mẫu hồ thuỷ sinh đang được ưu chuộng và phô biến
    nhất hiện nay.
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5 mx-10"
  >
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/iwagumi.png"
            alt="iwagumi"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Iwagumi</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Phong cách được phổ biến rộng rãi bởi Takashi Amano, người được mệnh
          danh là “Cha đẻ cho thủy sinh hiện đại”. Đặc điểm của hồ là sự sắp xếp
          các phiến đá theo Tỉ lệ vàng (the Golden ration) hoặc quy tắc 1 phần 3
          (Rule of Thirds).
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user1.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Trung Hiếu</div>
            <div class="text-gray-500">15/08/2022 · 15 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/bonsai.png"
            alt="bonsai"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Bonsai</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Những tác phẩm bonsai độc đáo đã không còn xa lạ với những ai yêu môn
          nghệ thuật này. Ngày nay, các nghệ nhân còn rất sáng tạo khi làm nên
          những diện mạo mới cho bonsai, điển hình là việc đưa bonsai xuống nước
          hòa mình vào không gian thủy sinh. Chuyện ngắm cá, tôm bơi lội tung
          tăng quanh gốc bonsai đã trở thành thú chơi mang lại nhiều cảm giác
          thật mới mẻ.
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user1.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Duy Hoàng</div>
            <div class="text-gray-500">15/08/2022 · 10 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/biotop.png"
            alt="biotop"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Biotop</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Phong cách Bio-Top (Biotope Style) là phong cách tập trung vào việc mô
          phỏng giống với môi trường tự nhiên, bao gồm điều kiện nước, quần thể
          động vật và thực vật, và thậm chí mô phỏng luôn cả đá, và gỗ trong tự
          nhiên.
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user1.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Trung Hiếu</div>
            <div class="text-gray-500">15/08/2022 · 15 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/halan.png"
            alt="dutch"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Hà Lan</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Tương phản giữa màu sắc và cách sắp xếp bố cục, cây trồng trong bể
          thuỷ sinh phong cách Hà Lan (Dutch Style Aquarium) luôn tạo được ấn
          tượng, được sử dụng rất nhiều trên Thế Giới nói chung và Việt Nam nói
          riêng.
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user3.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Đan vy</div>
            <div class="text-gray-500">15/08/2022 · 5 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/jungle.png"
            alt="jungle"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Jungle</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Phong cách rừng trong thuỷ sinh thường mô tả một hệ sinh thái hoang dã
          đúng như cảnh vật trong tự nhiên, mà cụ thể hơn là những khu rừng rậm
          như một khu rừng nhiệt đới hay Amazon.
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user2.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Khang Lê</div>
            <div class="text-gray-500">15/08/2022 · 1 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/nature.png"
            alt="nature"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Nature</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Phong cách Nature được giới thiệu đầu tiên bởi Takashi Amano vào những
          năm 1990. Đến nay, phong cách này là một trong những phong cách thủy
          sinh phổ biết nhất. Mục đích chính là dựa theo thiên nhiên, lấy thiên
          nhiên làm gốc.Là người sáng tạo ra ADA(Aqua Design Amano).Xuất thân là
          nhiếp ảnh gia, Sir Amano đã đi nhiều nơi, tìm hiểu về thiên nhiên của
          nơi đó, ghi chép chúng lại cả bằng văn bản cũng như hình ảnh. Sau khi
          chắt lọc, tổng hợp dường như ông đã rút ra được một số điểm nhấn cốt
          lõi nhất bên dưới những thứ hữu hình ấy. Các tác phẩm của ông Amano
          (và các sản phẩm của ADA) đều đi theo tự nhiên. Nhìn vào một hồ thủy
          sinh bất kỳ ta đều thấy sự tự nhiên ở đó. Không có một khuôn mẫu nào
          nhất định.Nhìn tổng thể hồ thấy tự nhiên ,đi vào chi tiết cũng là tự
          nhiên .đó là trường phái thủy sinh tự nhiên (nature).
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user1.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Duy Hoàng</div>
            <div class="text-gray-500">15/08/2022 · 4 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col shadow-md border rounded-lg hover:scale-[1.03]">
      <div class="p-4 rounded-lg">
        <a href="#">
          <img
            class="rounded-t-lg h-[200px] max-w-full"
            src="/assets/img/kindofts/walstad.png"
            alt="walstad"
          />
        </a>
        <h2 class="my-5 text-2xl font-bold hover:text-pink-600">
          <a href="#">Phong cách Walstad</a>
        </h2>
        <p class="line-clamp-5 text-justify text-gray-500 text-sm">
          Không theo quy luật hay bố cục nhất định, phong cách Walstad hướng
          người chơi thuỷ sinh theo hướng tự nhiên sinh trưởng, tạo nên không
          gian thật nhất có thể. Thực vật có thể không được chăm sóc nhiều và
          vật liệu trong bể không cần sử dụng những loại đắt đỏ như các phong
          cách khác. Việc chăm sóc cũng dễ dàng hơn cho người chơi theo phong
          cách này.
        </p>
        <div class="flex gap-2 mt-10">
          <img
            class="max-w-[40px] max-h-[40px] rounded-full mt-1"
            src="/assets/img/user/user2.png"
            alt="user1"
          />
          <div class="flex-col gap-2">
            <div>Khang Lê</div>
            <div class="text-gray-500">15/08/2022 · 2 giờ trước</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
